[submodule "spacefm"]
	path = spacefm
	url = https://github.com/pschmitt/spacefm-config.git
[submodule "xinit"]
	path = xinit
	url = https://github.com/pschmitt/xinit-config.git
[submodule "xmonad"]
	path = xmonad
	url = https://github.com/pschmitt/xmonad-config.git
[submodule "xmodmap"]
	path = xmodmap
	url = https://github.com/pschmitt/xmodmap-config.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/pschmitt/tmux-config.git
[submodule "dunst"]
	path = dunst
	url = https://github.com/pschmitt/dunst-config.git
[submodule "xbindkeys"]
	path = xbindkeys
	url = https://github.com/pschmitt/xbindkeys-config.git
[submodule "wmfs"]
	path = wmfs
	url = https://github.com/pschmitt/wmfs-config.git
[submodule "Xresources"]
	path = Xresources
	url = https://github.com/pschmitt/Xresources-config.git
[submodule "conky"]
	path = conky
	url = https://github.com/pschmitt/conky-config.git
[submodule "i3status"]
	path = i3status
	url = https://github.com/pschmitt/i3status-config.git
[submodule "i3"]
	path = i3
	url = https://github.com/pschmitt/i3-config.git
[submodule "awesome"]
	path = awesome
	url = https://github.com/pschmitt/awesome-config.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/pschmitt/zsh-config.git
[submodule "vim"]
	path = vim
	url = https://github.com/pschmitt/vim-config.git
[submodule "irssi"]
	path = irssi
	url = https://github.com/pschmitt/irssi-config.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "Thunar"]
	path = Thunar
	url = https://github.com/pschmitt/Thunar-config.git
[submodule "vimperator"]
	path = vimperator
	url = https://github.com/pschmitt/vimperator-config
[submodule "gtk-3.0"]
	path = gtk-3.0
	url = https://github.com/pschmitt/gtk-3.0-config.git
[submodule "nitrogen"]
	path = nitrogen
	url = https://github.com/pschmitt/nitrogen-config.git
[submodule "gtk-2.0"]
	path = gtk-2.0
	url = https://github.com/pschmitt/gtk-2.0-config.git
