[submodule "spacefm"]
	path = spacefm
	url = https://github.com/pschmitt/spacefm.git
[submodule "xinit"]
	path = xinit
	url = https://github.com/pschmitt/xinit.git
[submodule "xmonad"]
	path = xmonad
	url = https://github.com/pschmitt/xmonad.git
[submodule "xmodmap"]
	path = xmodmap
	url = https://github.com/pschmitt/xmodmap.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/pschmitt/tmux.git
[submodule "dunst"]
	path = dunst
	url = https://github.com/pschmitt/dunst.git
[submodule "xbindkeys"]
	path = xbindkeys
	url = https://github.com/pschmitt/xbindkeys.git
[submodule "wmfs"]
	path = wmfs
	url = https://github.com/pschmitt/wmfs.git
[submodule "Xresources"]
	path = Xresources
	url = https://github.com/pschmitt/Xresources.git
[submodule "conky"]
	path = conky
	url = https://github.com/pschmitt/conky.git
[submodule "i3status"]
	path = i3status
	url = https://github.com/pschmitt/i3status.git
[submodule "i3"]
	path = i3
	url = https://github.com/pschmitt/i3.git
[submodule "awesome"]
	path = awesome
	url = https://github.com/pschmitt/awesome.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/pschmitt/zsh.git
[submodule "vim"]
	path = vim
	url = https://github.com/pschmitt/vim.git
[submodule "irssi"]
	path = irssi
	url = https://github.com/pschmitt/irssi.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "Thunar"]
	path = Thunar
	url = https://github.com/pschmitt/Thunar.git
